# yaml-language-server: $schema=https://schemastore.org/clang-tidy.json
HeaderFilterRegex: '^\.\./src/'
Checks: >
  -*,
  modernize-*,
  -modernize-macro-to-enum,
  -modernize-avoid-c-*,
  readability-const-return-type,
  readability-container-*,
  readability-convert-member-functions-to-static,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-enum-initial-value,
  readability-make-member-function-const,
  readability-qualified-auto,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*,
  readability-string-compare,
  readability-trailing-comma,
  readability-trivial-switch,
  readability-uniqueptr-delete-release,
  readability-use-*,
  performance-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-branch-clone,
  -bugprone-suspicious-semicolon,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  -bugprone-inc-dec-in-conditions,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  -bugprone-multi-level-implicit-pointer-conversion,
